.super-mario {
    width: 200px;
    border: 2px solid red;
  }
  
  .goomba {
    width: 100px;
    border: 2px solid red;
    display: block;
  }
  
  .baloon {
    border: 2px solid red;
  }
  
  .speech {
    font-size: 25px;
    border: 2px solid red;
  }
  
  .bowser {
    width: 200px;
    border: 2px solid red;
    margin-left: 300px;
    

    
  }

  